footer.footer
  .container
    .footer-content
      .footer-logo
        img(src="images/indian-emblem.png", alt="Government of India Logo" style="height:5rem;")
        img(src="images/make-in-india.png", alt="make in India Logo" style="height:8rem;")
        img(src="images/download (1).png", alt="Government of India Logo" style="height:5rem;")
      .footer-columns
        .footer-column
          h3 Quick Links
          ul.footer-menu
            li
              a(href="#") Home
            li
              a(href="#") About Us
            li
              a(href="#") News
            li
              a(href="#") Services
            li
              a(href="#") Contact Us
        .footer-column
          h3 Contact Us
          address
            p
              | Address: Your Address Here,
              br
              | City, State - PIN
            p
              | Phone: +91 123-456-7890
              br
              | Email: contact@example.com
        .footer-column
          h3 Follow Us
          ul.social-icons
            li
              a(href="#" target="_blank")
                i.fa.fa-facebook
                | Facebook
            li
              a(href="#" target="_blank")
                i.fa.fa-twitter
                | Twitter
            li
              a(href="#" target="_blank")
                i.fa.fa-linkedin
                | LinkedIn
            li
              a(href="#" target="_blank")
                i.fa.fa-youtube
                | YouTube
        .footer-column
          h3 Important Links
          ul.policy-links
            li
              a(href="#") Privacy Policy
            li
              a(href="#") Terms & Conditions
            li
              a(href="#") Accessibility
    .footer-copyright
      p &copy; 2023 Government of India
