extends base
block content 
    .container-about
        h1.heading
            strong Main functions of PIB
        p.text-md
            | "Press Information Bureau, as the main authorized channel of communication between the Government and the media, functions upon the basic premise that a democratically elected Government that enjoys Peoples’ mandate must ensure that its policies, programmes and its activities are properly presented and communicated to the public."
        center
            img.imgfunc(src="https://static.pib.gov.in/WriteReadData/specificdocs/photo/2023/jun/ph2023616213501.png", alt="")
        br
        p.text-lg The main functions of PIB can therefore be categorised into following:
        h3.text-lg
            strong Information, Eduction & Communication (Publicity)
        p.text-md
            | Officers of the Indian Information Service (IIS) posted in PIB are given charge as authorized spokespersons and media advisers for handling the media & communication of various Ministries and Departments. The Officer forms a bridge between the Ministry and media, ensuring a smooth two-way flow of information. He/she briefs the media on policies and programmes of the Ministry/Department, disseminates information, answers queries, provides clarifications and addresses misconceptions and misunderstandings that may arise. Their task also includes providing ground level feedback on implementation of Government policies and the corresponding public opinion, by analysing reports across various media platforms. This advisory role helps in course correction and allows the Ministry/Department in developing its IEC (Information, Education and Communication) strategy.
            br
            | Different modes of communication are employed by PIB officers, which include press releases, press notes, backgrounders & factsheets, feature articles, photographs, videos, infographics and also social media platforms.
            br
            | In addition, the PIB also organizes Press Conferences, Press Briefings, Interviews Formal /informal briefings of the Ministers/Secretaries and other senior officers for sensitizing media persons on important policy initiatives of the Government. Beside the routine publicity work, the Bureau makes some special endeavours towards publicity like Regional Conferences including Vartalaps at Regional level and Press Tours.
        h3.text-lg
            strong Photo Services
        p.text-md
            | Photo Division under PIB is mandated to provide visual support through photo coverage of the varied activities of the Government of India, to media units of the Ministry of Information & Broadcasting and other government units including other.
            br
            | Ministries/Departments, President Secretariat, Vice-President Secretariat, Prime Ministers Office, Lok Sabha & Rajya Sabha Secretariats, etc.
            br
            | Established in October 1959, it is perhaps the only organization in the country which has a rich repository of about more than 10 lakhs of negatives/ transparencies preserved in digital format, beginning from the Pre-Independence era to the present day.
        h3.text-lg
            strong Research Unit
        p.text-md
            strong Research Unit (RU)
            | , the youngest division under the aegis of the PIB, started functioning from the month of October, 2021. It facilitates effective communication and outreach to the public by creating a range of extensively researched documents on various areas of national importance and relevance, based on changing scenarios and <requirements class="br">Taking the form of <strong>Backgrounders/Explainers, Factsheets, FAQs and Features</strong>, these documents generate sector-specific as well as holistic insights about the concerned subject area in order to empower citizens.
        h3.text-lg
            strong Social Media Activities
        p.text-md
            strong Social Media Cell
            | of PIB is responsible for carrying out the amplification of the information/activities on social media platforms pertaining to government policies, programmes, initiatives and achievements. The social media platforms of PIB on Twitter, Facebook, Instagram, YouTube, Koo and Public app are used for amplification of press releases prepared by the PIB officers attached to various ministries/departments, live coverage of press conferences, social media campaigns pertaining to various events, & fact check done by PIB Fact Check Unit, among others.
        h3.text-lg
            strong Acceriditation of Media Persons
            p
            | The PIB provides accreditation to media representatives including foreign media at the Headquarters. This facilitates them to access information from the Government sources. The number of media persons accredited as on 9 May 2023 is 
            strong 1482 correspondents
            | and 
            strong 505 cameramen/photographers.
            | 
            br
            | Besides,
            strong 104 Technicians 
            | and 
            strong 120 editors
            | and 
            strong media critis 
            | have also been granted accreditation

