extends base

block content
  .body-container
    p.register-heading.container Create A New Account With Us !!
    .registration-container
      h2.registration-heading Register a New User
      form.registration-form(action="/register", method="post")
        .form-group-register
          label(for="username") Username
          input.registration-input(type="text", id="username", name="username", placeholder="Enter your username", required)
        
        .form-group-register
          label(for="email") Email
          input.registration-input(type="email", id="email", name="email", placeholder="Enter your email", required)
        
        .form-group-register
          label(for="name") Name
          input.registration-input(type="text", id="name", name="name", placeholder="Enter your Name", required)
        p.registration-heading currently supported departments are Technology Agriculture and Finance
        .form-group-register
          label(for="department") Department
          input.registration-input(type="text", id="department", name="department", placeholder="Enter your Department", required)
        
        .form-group-register
          label(for="password") Password
          input.registration-input(type="password", id="password", name="password", placeholder="Enter your password", required)
        
        .form-group-register
          label(for="confirmPassword") Confirm Password
          input.registration-input(type="password", id="confirmPassword", name="confirmPassword", placeholder="Confirm your password", required)
        
        button.registration-button(type="submit") Register
